footer {
    margin: 0px 0px 0px -8px;
    padding: 8px;
    width: 100%;
    position:fixed;
    bottom:0;
    text-align: center;
    background-color: rgb(171, 171, 124);
    box-shadow: 4px 2px 4px 4px rgb(116, 121, 68);
}

footer li {
    list-style: none;
    display: inline-block;
    margin-right: 15px;
}